body{
    margin: 0;
}
div{
    width: 800px;
    height: 100px;
    display: flex;
    margin-top: 5px;
}
.g{
    background-color: green;
    width: 600px;
    height: 300px;
    
}
.r{
    background-color: red;
    width: 600px;
    height: 300px;
    align-items: center;
    justify-content: center;
}
.y{
    background-color: yellow;
    width: 600px;
height: 300px;
}
.fa-star{
    color: yellow;
font-size: 50px;

}